<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome!</title>
    <link rel="stylesheet" href="styles.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="bg-gray-100">
    <!-- Navbar -->
    <nav class="bg-white shadow text-white gradient-iron">
      <div class="container mx-auto px-4">
        <div class="flex justify-between items-center py-4">
          <div class="text-xl font-bold">My Portfolio</div>
          <ul class="flex space-x-4">
            <li>
              <a href="/blog" class="hover:text-blue-500">Blog</a>
            </li>
            <li>
              <a
                href="https://www.linkedin.com/feed/"
                class="hover:text-blue-500"
                >LinkedIn</a
              >
            </li>
            <li>
              <a href="https://github.com/Natpinper/" class="hover:text-blue-500"
                >GitHub</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <main class="container mx-auto mt-20 px-12 md:px-6">
      <!-- Profile Image & About Me -->
      <section class="flex flex-wrap -mx-4">
        <div class="mt-10 flex flex-col md:flex-row items-center">
          <img
            src="/Natalia Pinto profile.jpg"
            alt="Your Name"
            class="rounded-full w-48 h-48 md:mr-8"
          />
          <div>
            <h2 class="text-2xl font-bold mb-4">Natalia Pinto</h2>
            <p class="text-gray-600">
              Hello, I'm Natalia, a dedicated lab technician specializing in the fascinating world of flavors. My role in the flavor department is multifaceted, involving experimentation, analysis, and the creation of delightful taste sensations. With a strong foundation in laboratory procedures and a meticulous attention to detail, I contribute significantly to the development of new and exciting flavor profiles.

But my journey doesn't stop there. I'm currently delving into the realm of web development through a program at Ironhack. This intensive study program is equipping me with the latest tools and techniques to become proficient in crafting engaging and user-friendly digital experiences.

Driven by a passion for both science and creativity, I thrive in environments where I can blend my technical skills with innovative thinking. Whether I'm deciphering the complexities of flavor molecules or mastering the intricacies of code, I approach each challenge with enthusiasm and a commitment to excellence.

With a unique blend of expertise in flavors and a burgeoning skill set in web development, I'm poised to make a significant impact in both industries. I'm excited about the opportunities ahead and eager to continue pushing the boundaries of what's possible in both fields.
            </p>
          </div>
        </div>
      </section>

      <!-- My Projects Section -->
      <section class="mt-10">
        <h2 class="text-2xl font-bold">My Projects</h2>
        <div
          id="projectsContainer"
          class="mt-4 grid gap-4 grid-cols-1 md:grid-cols-2 lg:grid-cols-3"
        >
          <!-- Projects are loaded here using JavaScript -->
        </div>
      </section>
    </main>

    <!-- Footer -->
    <footer class="gradient-footer bg-gray-800 text-white py-4 mt-10">
      <div class="container mx-auto text-center">
        <p class="text-xl font-medium">LAB | Express Basic Server</p>
        <p class="mt-2 opacity-70 text-sm">© 2023 Ironhack</p>
      </div>
    </footer>

    <script>
      window.onload = function () {
        fetch("/api/projects")
          .then((response) => {
            if (!response.ok) {
              throw new Error("Network response was not ok");
            }
            return response.json();
          })
          .then((projects) => {
            const projectsContainer =
              document.getElementById("projectsContainer");

            projects.forEach((project) => {
              const projectCard = `
                  <div class="bg-white shadow-md rounded p-6 flex flex-col justify-between">
                      <div>
                          <h3 class="text-xl font-bold mb-4">${
                            project.title
                          }</h3>
                          <div class="w-full h-56 animate-pulse rounded mb-4 image-loader gradient-iron" data-image="${
                            project.image
                          }"></div>
                          <p>${project.description}</p>
                          <ul class="mt-2 mb-4">
                              ${project.techStack
                                .map(
                                  (tech) =>
                                    `<li class="inline-block text-white px-2 py-1 rounded mr-2 mt-2 tag">${tech}</li>`
                                )
                                .join("")}
                          </ul>
                      </div>
                      <div class="mt-4 flex justify-between">
                          <a href="${
                            project.github
                          }" class="text-blue-500 hover:underline" target="_blank" rel="noopener noreferrer">Github</a>
                          <a href="${
                            project.deployed
                          }" class="text-green-500 hover:underline" target="_blank" rel="noopener noreferrer">Live Version</a>
                      </div>
                  </div>
                  `;
              projectsContainer.innerHTML += projectCard;
            });

            document.querySelectorAll(".image-loader").forEach((loader) => {
              const imgSrc = loader.getAttribute("data-image");
              const img = new Image();
              img.src = imgSrc;
              img.onload = () => {
                loader.style.background = `url('${imgSrc}') no-repeat center/cover`;
                loader.classList.remove("bg-gray-300", "animate-pulse");
              };
            });
          })
          .catch((error) => {
            console.error("Failed to load projects:", error);
            const projectsContainer =
              document.getElementById("projectsContainer");
            projectsContainer.innerHTML = `
                  <div class="text-center py-4 lg:px-4">
                      <div class="p-2 bg-indigo-800 items-center text-indigo-100 leading-none lg:rounded-full flex lg:inline-flex" role="alert">
                          <span class="flex rounded-full bg-indigo-500 uppercase px-2 py-1 text-xs font-bold mr-3">Error</span>
                          <span class="font-semibold mr-2 text-left flex-auto">Failed to load projects, please try again later.</span>
                      </div>
                  </div>
              `;
          });
      };
    </script>
  </body>
</html>
