<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Welcome!</title>
  <link rel="stylesheet" href="styles.css" />
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100">
  <!-- Navbar -->
  <nav class="bg-white shadow text-white gradient-iron">
    <div class="container mx-auto px-4">
      <div class="flex justify-between items-center py-4">
        <div class="text-xl font-bold">My Portfolio</div>
        <ul class="flex space-x-4">
          <li>
            <a href="/blog" class="hover:text-blue-500">Blog</a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/laia-navalon-arxe-763b2353" target="_blank"
              class="hover:text-blue-500">LinkedIn</a>
          </li>
          <li>
            <a href="https://github.com/feelikeadoll" class="hover:text-blue-500">GitHub</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <main class="container mx-auto mt-20 px-12 md:px-6">
    <!-- Profile Image & About Me -->
    <section class="flex flex-wrap -mx-4">
      <div class="mt-10 flex flex-col md:flex-row items-center">
        <img src="/profile.jpg" alt="Laia Navalon" class="rounded-full w-48 h-48 md:mr-8" />
        <div>
          <h2 class="text-2xl font-bold mb-4">About Me</h2>
          <p class="text-gray-600">
            My name is Laia, and I have a strong passion for design and innovation. With a
            solid background in fashion design and some years of experience in the industry,
            I decided to pivot my career and explore the exciting world of web development.
            Through my previous roles managing online retail platforms, including my own
            womenswear fashion label and a high-end vintage boutique, I've gained a profound
            understanding of the digital landscape and honed my ability to craft compelling
            and user-friendly online experiences. My fascination with aesthetics and my
            unwavering commitment to delivering excellence are driving forces behind my
            ambition to continuously learn and evolve as a web developer.
          </p>
        </div>
      </div>
    </section>

    <!-- My Projects Section -->
    <section class="mt-10">
      <h2 class="text-2xl font-bold">My Projects</h2>
      <div id="projectsContainer" class="mt-4 grid gap-4 grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
        <!-- Projects are loaded here using JavaScript -->
      </div>
    </section>
  </main>

  <!-- Footer -->
  <footer class="gradient-footer bg-gray-800 text-white py-4 mt-10">
    <div class="container mx-auto text-center">
      <p class="text-xl font-medium">LAB | Express Basic Server</p>
      <p class="mt-2 opacity-70 text-sm">© 2023 Ironhack</p>
    </div>
  </footer>

  <script>
    window.onload = function () {
      fetch("/api/projects")
        .then((response) => {
          if (!response.ok) {
            throw new Error("Network response was not ok");
          }
          return response.json();
        })
        .then((projects) => {
          const projectsContainer =
            document.getElementById("projectsContainer");

          projects.forEach((project) => {
            const projectCard = `
                  <div class="bg-white shadow-md rounded p-6 flex flex-col justify-between">
                      <div>
                          <h3 class="text-xl font-bold mb-4">${project.title
              }</h3>
                          <div class="w-full h-56 animate-pulse rounded mb-4 image-loader gradient-iron" data-image="${project.image
              }"></div>
                          <p>${project.description}</p>
                          <ul class="mt-2 mb-4">
                              ${project.techStack
                .map(
                  (tech) =>
                    `<li class="inline-block text-white px-2 py-1 rounded mr-2 mt-2 tag">${tech}</li>`
                )
                .join("")}
                          </ul>
                      </div>
                      <div class="mt-4 flex justify-between">
                          <a href="${project.github
              }" class="text-blue-500 hover:underline" target="_blank" rel="noopener noreferrer">Github</a>
                          <a href="${project.deployed
              }" class="text-green-500 hover:underline" target="_blank" rel="noopener noreferrer">Live Version</a>
                      </div>
                  </div>
                  `;
            projectsContainer.innerHTML += projectCard;
          });

          document.querySelectorAll(".image-loader").forEach((loader) => {
            const imgSrc = loader.getAttribute("data-image");
            const img = new Image();
            img.src = imgSrc;
            img.onload = () => {
              loader.style.background = `url('${imgSrc}') no-repeat center/cover`;
              loader.classList.remove("bg-gray-300", "animate-pulse");
            };
          });
        })
        .catch((error) => {
          console.error("Failed to load projects:", error);
          const projectsContainer =
            document.getElementById("projectsContainer");
          projectsContainer.innerHTML = `
                  <div class="text-center py-4 lg:px-4">
                      <div class="p-2 bg-indigo-800 items-center text-indigo-100 leading-none lg:rounded-full flex lg:inline-flex" role="alert">
                          <span class="flex rounded-full bg-indigo-500 uppercase px-2 py-1 text-xs font-bold mr-3">Error</span>
                          <span class="font-semibold mr-2 text-left flex-auto">Failed to load projects, please try again later.</span>
                      </div>
                  </div>
              `;
        });
    };
  </script>
</body>

</html>